@{
    ViewData["Title"] = "Home Page";
}
@section Header{
    <style>
        textarea{
            width:100%;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <textarea id="editor" rows="20">
This is an example of a Ink
Have you tried it before?
* Yes
    Excellent! Then you are all set
* No
    Okay! Continue to find out more
    ** [Continue] -> more_info
-Start writing!
-> DONE

== more_info
To find out more information, visit www.inklestudios.com/ink/
-> DONE
     </textarea>
    <button onclick="send()">Compile</button>
    <div style="margin-top:2em">
        Compile messages
        <div id="status" style="padding:1em;border:1px solid #dadada;">
        </div>
    </div>

    <div style="margin-top:2em">
        Run area
        <div id="result" style="padding:1em;border:1px solid #dadada;">
        </div>
    </div>

    <script>
        var editor = document.getElementById("editor");
        var statusEl = document.getElementById("status");
        var storyContainer = document.getElementById("result");
        var story= null;
        function send(){
            var code = editor.value;
            fetch("@Url.Action("Compile")",{
                method:'POST',
                headers:{
                    'Content-Type':"application/json"
                },
                body:JSON.stringify({code:code}) 
            }).then(res=>{
                if(!res.ok){
                    throw "Call failed";
                }
                return res.json();
            }).then(data=>{
                storyContainer.innerHTML ="";
                statusEl.innerText = data.status;
                try{
                    story = new inkjs.Story(data.story);
                    continueStory();
                }catch(err){
                    statusEl.innerText = err;
                }
            }).catch(err=> {
                statusEl.innerText = err;
            });
        }

        function continueStory() {
            while(story.canContinue) {

                // Get ink to generate the next paragraph
                var paragraphText = story.Continue();

                // Create paragraph element
                var paragraphElement = document.createElement('p');
                paragraphElement.innerHTML = paragraphText;
                storyContainer.appendChild(paragraphElement);
            }
            story.currentChoices.forEach(function(choice) {
                var choiceParagraphElement = document.createElement('p');
                choiceParagraphElement.classList.add("choice");
                choiceParagraphElement.innerHTML = `<a href='#'>${choice.text}</a>`
                storyContainer.appendChild(choiceParagraphElement);

                // Click on choice
                var choiceAnchorEl = choiceParagraphElement.querySelectorAll("a")[0];
                choiceAnchorEl.addEventListener("click", function(event) {

                    // Don't follow <a> link
                    event.preventDefault();

                    // Remove all existing choices
                    var existingChoices = storyContainer.querySelectorAll('p.choice');
                    for(var i=0; i<existingChoices.length; i++) {
                        var c = existingChoices[i];
                        c.parentNode.removeChild(c);
                    }

                    // Tell the story where to go next
                    window.story.ChooseChoiceIndex(choice.index);

                    // Aaand loop
                    continueStory();
                });
            });
        }
    </script>
</div>
